.my-section{
    min-height:400px;
    max-width: 99.7%;
  }
  
  .pointer{
    cursor: pointer;
  }
  
  /**
  * Chrome fixes
  */
  input[type="radio"]{
    min-width: 14px;
  }
  
  /* End chrome fixes */
  
  /**
  * Sticky footer flexbox ver.
  */
  
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  section {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }
  
  /* End sticky footer */
  
  .form-next-spinner{
    float: left;
    width:80%;
  }
  
  .center-icon{
    position: absolute;
    top: 30%;
  }
  
  /* Fix for bootstrap with icon next to input */
  .is-invalid ~ .invalid-feedback{
    clear:left;
  }
  
  .container-100{
    max-width: 100%;
  }
  
  .my-bg-danger{
    background-color: #fa8072;
  }
  
  .my-bg-success{
    background-color: #90ee90;
  }
  
  .no-wrap{
    white-space: nowrap;
  }
  
  #navbar ul{
    display: flex;
    -ms-display: flex;
  }
  #navbar ul li, #navbar ul a{
    flex: 1 0 0%;
    -ms-flex: 1 0 auto;
  }
  
  @media all and (max-width: 983px) {
    #navbar ul{
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
    }
  
    #navbar > ul > li, #navbar > ul > a {
      flex-basis: 33%;
      -ms-flex-basis: 33%;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }
  
  }
  
  .no-padding{
    padding: 0 !important;
  }
  
  .clearfix{
    clear: both;
  }
  
  .bold{
    font-weight: bold;
  }
  
  /* Spin css3*/
  .spin{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-ms-keyframes spin {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
  /* End spin css3*/
  
  .accions-180{
    min-width: 180px;
  }
  
  .success{
    color: green;
  }
  
  .danger{
    color: red;
  }
  
  .no-margin-bottom{
    margin-bottom: 0;
  }
  
  .padding-like-control-label{
    padding-top: calc(.375rem + 1px);
    padding-left: 15px;
  }

  .accions-230{
    width: 230px;
  }